@model EmployeesSysytem.Models.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-header"><h3>Edit Employee</h3></div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="EmployeeNumber" class="control-label"></label>
                                <input asp-for="EmployeeNumber" class="form-control" />
                                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserId" class="control-label"></label>
                                <input asp-for="UserId" class="form-control" />
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MiddleName" class="control-label"></label>
                                <input asp-for="MiddleName" class="form-control" />
                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DisabilityId" class="control-label"></label>
                                <input asp-for="DisabilityId" class="form-control" />
                                <span asp-validation-for="DisabilityId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <input asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CityId" class="control-label"></label>
                                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                                <span asp-validation-for="CityId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CountryId" class="control-label"></label>
                                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="BirthOfDate" class="control-label"></label>
                                <input asp-for="BirthOfDate" class="form-control" />
                                <span asp-validation-for="BirthOfDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="EmploymentDate" class="control-label"></label>
                                <input asp-for="EmploymentDate" class="form-control" />
                                <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DepartmentId" class="control-label"></label>
                                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SSN" class="control-label"></label>
                                <input asp-for="SSN" class="form-control" />
                                <span asp-validation-for="SSN" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="BankId" class="control-label"></label>
                                <select asp-for="BankId" class="form-control" asp-items="ViewBag.BankId"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AccountNumber" class="control-label"></label>
                                <input asp-for="AccountNumber" class="form-control" />
                                <span asp-validation-for="AccountNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DesignationId" class="control-label"></label>
                                <select asp-for="DesignationId" class="form-control" asp-items="ViewBag.DesignationId"></select>
                                <span asp-validation-for="DesignationId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="GenderId" class="control-label"></label>
                                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                                <span asp-validation-for="GenderId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="EmploymentTerm" class="control-label"></label>
                                <select asp-for="EmploymentTerm" class="form-control" asp-items="ViewBag.EmploymentTerm"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="EmployeeStatus" class="control-label"></label>
                                <select asp-for="EmployeeStatus" class="form-control" asp-items="ViewBag.EmployeeStatus"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="InactiveDate" class="control-label"></label>
                                <input asp-for="InactiveDate" class="form-control" />
                                <span asp-validation-for="InactiveDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="InactivityReason" class="control-label"></label>
                                <select asp-for="InactivityReason" class="form-control" asp-items="ViewBag.InactivityReason">
                                    <option value=""></option>
                                </select>
                                <span asp-validation-for="InactivityReason" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TerminationDate" class="control-label"></label>
                                <input asp-for="TerminationDate" class="form-control" />
                                <span asp-validation-for="TerminationDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TerminationReason" class="control-label"></label>
                                <select asp-for="TerminationReason" class="form-control" asp-items="ViewBag.TerminationReason">
                                    <option value=""></option>
                                </select>
                                <span asp-validation-for="TerminationReason" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <br />
                                <input asp-for="ImageUpload" id="ImageUpload" accept="image/png, image/jpeg, image/jpg" />
                                <img id="imgpreview" class="pt-2" />
                                <span asp-validation-for="ImageUpload" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mx-2">
                            <input type="submit" value="Edit Employee" class="btn btn-primary" />
                        </div>
                        <div class="form-group mx-2">
                            <a asp-action="Index" class="btn btn-warning">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgpreview').attr('src', e.target.result).width(150).height(150);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImageUpload").change(function () {
            readURL(this);
        });

        CKEDITOR.replace('Description');
    </script>
}
